.backgroundBooking {
    display: inline-block;
}

.floorplann {
    float: right;
    z-index: -5;
}

.stepperStyle {
    width: 36%;
    text-align: left;
    margin-right: -38%;
    margin-top: 22%;
    padding-left: 3%;
    float: left;
    z-index: 2;
    position: relative;
    font-family: "Fontdiner Swanky";
}

.stepperStyle2 {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    align-items: baseline;
    width: 36%;
    font-family: "Fontdiner Swanky";
}

.formItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.smallerText{
    font-size: small;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.table {
    background-color: palegoldenrod;
    border-radius: 50%;
    font-size: small;
    height: 25px;
    width: 25px;
    margin: 0 auto;
    text-align: center;
    padding: 3px;
}

.form label {
    font-weight: bold;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    padding: 2px
}

.formInput {
    border: 2px solid rgb(141, 89, 41);
    margin: 2px;
    padding: 2px;
    font-weight: lighter;
}

.form textarea {
    border: 2px solid rgb(141, 89, 41);
    width: 100%;
    font-weight: lighter;
}

.submitButt {
    background-color: khaki;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 38px;
}