.hero {
	width: 100%;
	height: 50vh;
	position: relative;
}

.heroGames,
.heroEvents {
	width: 100%;
	height: 80vh;
	position: relative;
}


.heroSignIn{
	width: 100%;
	height: 40vh;
	position: relative
}

/* 

.heroToStay h1,
.heroToStay p {
	color: #333 !important;
}

.heroToGo h1,
.heroToGo p {
	color: white !important;
}

.heroToStay .hero-text,
.heroToGo .hero-text{
	top: 40% !important;
} */

.imgClass {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.hero-text {
	width: 100%;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-text h1 {
	font-size: 3.5rem;
	font-weight: 500;
	
}

.hero-text-content {
	font-size: 2rem;
	font-weight: 400;
	padding:20px 0 30px 0;
}

.hero-text .show {
	text-decoration: none;
	background-color: white;
	border-radius: 5px;
	font-size: 2rem;
	padding: 10px 20px;
	color: black;
}

.hero-text .hide {
	display: none;
}

@media screen and (max-width: 700px) {
	
	.hero-text h1 {
		font-size: 1.6rem;
		padding: 10px 10px;
	}

	.hero-text-content {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	.hero-text p {
		font-size: 0.8rem;
		padding: 0;
	}

	.hero-text .show {
		font-size: 1rem;
	}
}
