.activeTable {
    background-color: #065f46!important;
}

.table1 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 25.1vw;
    left: 63.5vw;
    cursor: pointer;
}

.table2 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 20.7vw;
    left: 63.4vw;
    cursor: pointer;
}

.table3 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 21vw;
    left: 70.3vw;
    cursor: pointer;
}

.table4 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 20.8vw;
    left: 75.2vw;
    cursor: pointer;
}

.table5 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 20.85vw;
    left: 79.8vw;
    cursor: pointer;
}

.table6 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 20.85vw;
    left: 84.15vw;
    cursor: pointer;
}

.table7 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 22.7vw;
    left: 90.81vw;
    cursor: pointer;
}

.table8 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 30.97vw;
    left: 88.28vw;
    cursor: pointer;
}

.table9 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 37.98vw;
    left: 88.88vw;
    cursor: pointer;
}

.table10 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 38.1vw;
    left: 77.49vw;
    cursor: pointer;
}

.table11 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 38.1vw;
    left: 63vw;
    cursor: pointer;
}

.table12 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 14.8vw;
    left: 14vw;
    cursor: pointer;
}

.table13 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 2.6vw;
    left: 17.1vw;
    cursor: pointer;
}

.table14 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 2.6vw;
    left: 23.9vw;
    cursor: pointer;
}

.table15 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 2.45vw;
    left: 30.7vw;
    cursor: pointer;
}

.table16 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 2.5vw;
    left: 37.5vw;
    cursor: pointer;
}

.table17 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 3.75vw;
    left: 49vw;
    cursor: pointer;
}

.table18 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 1.8vw;
    left: 73.5vw;
    cursor: pointer;
}

.table19 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 3.3vw;
    left: 80.05vw;
    cursor: pointer;
}

.table20 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 9.35vw;
    left: 79.9vw;
    cursor: pointer;
}

.table21 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 15.5vw;
    left: 79.9vw;
    cursor: pointer;
}

.table22 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 17.3vw;
    left: 71.05vw;
    cursor: pointer;
}

.table23 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 10.5vw;
    left: 70.7vw;
    cursor: pointer;
}

.table24 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 43.2vw;
    left: 75.6vw;
    cursor: pointer;
}

.table25 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 43.05vw;
    left: 83.6vw;
    cursor: pointer;
}


.table26 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 49.5vw;
    left: 83.3vw;
    cursor: pointer;
}


.table27 {
    background-color: white;
    color: black;
    width: 1.7vw;
    height: 1.7vw;
    font-size: 1.3vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 49.5vw;
    left: 75.1vw;
    cursor: pointer;
}
