* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fontdiner Swanky", serif;
}

.App {
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #F3F4F6;
}
